<nav class="navbar navbar-expand-lg" style="border-bottom: 2px outset var(--impred);">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active Home">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle username dropdown-menu-end" href="" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        (Username shows here)
                    </a>
                    <div class="dropdown-menu dropdown-menu-end"
                     style="padding-top: 0; padding-bottom: 0; background-color: var(--eblack); border: 1px solid var(--culture);"
                     aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Create Character</a>
                        <a class="dropdown-item" href="">My Characters</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/api/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>