<nav class="navbar navbar-expand">
    <div id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active home" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown ">
                <div class="nav-link dropdown-toggle username dropdown-menu-end" id="navbarDropdown" role="button" data-toggle="dropdown"></div>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#if logged_in}}
                    <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                    <li><a class="dropdown-item" href="/create">Create Character</a></li>
                    <li><a id="logout" class="dropdown-item" href="/">Logout</a></li>
                    {{else}}
                    <li><a id="signup" class="dropdown-item" href="/signup">Create Account</a></li>
                    <li><a id="login" class="dropdown-item" href="/login">Log In</a></li>
                    {{/if}}
                </ul>
            </li>
        </ul>
    </div>
</nav>

<script>
  const logout = async () => {
  const response = await fetch('/api/user/logout', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
  });

  if (response.ok) {
    document.location.replace('/');
  } else {
    alert(response.statusText);
  }
};
  
document.querySelector('#logout').addEventListener('click', logout);
</script>