<div class="create row">
  <h2>{{name}}</h2>
  <div class="col" >
    <h3>Create a New Character:</h3>

    <form class="create-form">
      <div class="form-group">
        <input class="form-input" type="text" id="character-name" name="character-name" placeholder="Character Name"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="number" id="character-health" name="character-name" placeholder="Character Health"/>
      </div>
      <div class="form-group">
          <input class="form-input" type="number" id="character-damage" name="character-damage" placeholder="Character Damage"/>
      </div>
      <div class="form-group">
          <select class="form-input" name="character-race" id="character-race">
              <option selected>Choose a Race</option>
              <option value="human">Human</option>
              <option value="dwarf">Dwarf</option>
              <option value="elf">Elf</option>
              <option value="undead">Undead</option>
              <option value="dragonborn">Dragonborn</option>
              <option value="orc">Orc</option>
          </select>
      </div>

      <div class="form-group">
          <select class="form-input" name="character-class" id="character-class">
              <option selected>Choose a Class</option>
              <option value="1">Angel</option>
              <option value="2">Warrior</option>
              <option value="3">Archer</option>
              <option value="4">Vampire Bunny</option>
              <option value="5">Brute</option>
              <option value="6">Alien Invader</option>
          </select>
      </div>

      <div class="form-group">
        <textarea class="form-input" id="character-background" name="character-background" placeholder="Character Background"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>

<script>
  const newFormHandler = async (event) => {
  event.preventDefault();

  const name = document.querySelector('#character-name').value.trim();
  const damage = document.querySelector('#character-damage').value.trim();
  const health = document.querySelector('#character-health').value.trim();
  const background = document.querySelector('#character-background').value.trim();
  const race = document.querySelector('#character-race').value.trim();
  const class_id = document.querySelector('#character-class').value.trim();

  if (name && damage && health && background && race && class_id) {
    const response = await fetch('/api/character', {
        method: "POST",
        body: JSON.stringify({name, damage, health, background, race, class_id}),
        headers: {
            'Content-Type': 'application/json'
        },
    });
    if (response.ok) {
        document.location.replace('/profile')
    }
  }
};

document
  .querySelector('.create-form')
  .addEventListener('submit', newFormHandler);
</script>