<div class="row">
    <div class="col-auto">
        <h2>{{name}}</h2>
    </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Character:</h3>

    <form class="form new-character-form">
      <div class="form-group">
        <label for="character-name">Character Name:</label>
        <input class="form-input" type="text" id="character-name" name="character-name" />
      </div>

      <div class="form-group">
        <label for="character-health">Character Health:</label>
        <input class="form-input" type="number" id="character-health" name="character-name" />
      </div>

      <div class="form-group">
          <label for="character-damage">Character Damage:</label>
          <input class="form-input" type="number" id="character-damage" name="character-damage" />
      </div>

      <div class="form-group">
          <label for="character-race">Character Race:</label>
          <select class="form-input" name="character-race" id="character-race">
              <option value="Human">Human</option>
              <option value="Dwarf">Dwarf</option>
              <option value="Elf">Elf</option>
              <option value="Undead">Undead</option>
              <option value="Dragonborn">Dragonborn</option>
              <option value="Orc">Orc</option>
          </select>
      </div>

      <div class="form-group">
          <label for="character-class">Character Class:</label>
          <select class="form-input" name="character-class" id="character-class">
              <option value="1">Angel</option>
              <option value="2">Warrior</option>
              <option value="3">Archer</option>
              <option value="4">Vampire Bunny</option>
              <option value="5">Brute</option>
              <option value="6">Alien Invader</option>
          </select>
      </div>

      <div class="form-group">
        <label for="character-background">Character Background</label>
        <textarea class="form-input" id="character-background" name="character-background"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>


<script>
  const newFormHandler = async (event) => {
  event.preventDefault();

  const name = document.querySelector('#character-name').value.trim();
  const damage = document.querySelector('#character-damage').value.trim();
  const health = document.querySelector('#character-health').value.trim();
  const background = document.querySelector('#character-background').value.trim();
  const race = document.querySelector('#character-race').value.trim();
  const class_id = document.querySelector('#character-class').value.trim();

  if (name && damage && health && background && race && class_id) {
      const response = await fetch('/api/character', {
          method: "POST",
          body: JSON.stringify({name, damage, health, background, race, class_id}),
          headers: {
              'Content-Type': 'application/json'
          },
      });
      console.log(response)
      if (response.ok) {
          document.location.replace('/profile')
          console.log(name)
      }
  }
};
console.log("damage")

document
  .querySelector('.new-character-form')
  .addEventListener('submit', newFormHandler);
</script>