<div class="row">
    <div class="col-auto" style="color: var(--impred); margin-left: 15px; margin-top: 20px;">
        <h2>{{name}}</h2>
    </div>
</div>

<div class="row mt-4" style="display:flex; justify-content: center; align-content: center; color: var(--impred);">
  <div class="col-md-6" >
    <h3 style="margin-left: 10px;">Create a New Character:</h3>

    <form class="form new-character-form">
      <div class="form-group">
        <label for="character-name" style="padding: 10px; margin-right: 43px; color: var(--impred); margin-top: 10px;">Character Name:</label>
        <input class="form-input" type="text" id="character-name" name="character-name" />
      </div>

      <div class="form-group">
        <label for="character-health" style="padding: 10px; margin-right: 37px; color: var(--impred); margin-top: 10px;">Character Health:</label>
        <input class="form-input" type="number" id="character-health" name="character-name" />
      </div>

      <div class="form-group">
          <label for="character-damage" style="padding: 10px; margin-right: 28px; color: var(--impred); margin-top: 10px;">Character Damage:</label>
          <input class="form-input" type="number" id="character-damage" name="character-damage" />
      </div>

      <div class="form-group">
          <label for="character-race" style="padding: 10px; margin-right: 52px; color: var(--impred); margin-top: 10px;">Character Race:</label>
          <select class="form-input" name="character-race" id="character-race">
              <option value="human">Human</option>
              <option value="dwarf">Dwarf</option>
              <option value="elf">Elf</option>
              <option value="undead">Undead</option>
              <option value="dragonborn">Dragonborn</option>
              <option value="orc">Orc</option>
          </select>
      </div>

      <div class="form-group">
          <label for="character-class" style="padding: 10px; margin-right: 50px; color: var(--impred); margin-top: 10px;">Character Class:</label>
          <select class="form-input" name="character-class" id="character-class">
              <option value="1">Angel</option>
              <option value="2">Warrior</option>
              <option value="3">Archer</option>
              <option value="4">Vampire Bunny</option>
              <option value="5">Brute</option>
              <option value="6">Alien Invader</option>
          </select>
      </div>

      <div class="form-group" style="display: flex; align-content: center;">
        <label for="character-background" style="padding: 10px; margin-right: 6px; color: var(--impred); margin-top: 20px">Character Background:</label>
        <textarea class="form-input" id="character-background" name="character-background" style=" margin-top: 20px;"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; padding: 3px; color: var(--gray); background-color: var(--carn); border: 1px solid var(--bred);">Create</button>
      </div>
    </form>
  </div>
</div>


<script>
  const newFormHandler = async (event) => {
  event.preventDefault();

  const name = document.querySelector('#character-name').value.trim();
  const damage = document.querySelector('#character-damage').value.trim();
  const health = document.querySelector('#character-health').value.trim();
  const background = document.querySelector('#character-background').value.trim();
  const race = document.querySelector('#character-race').value.trim();
  const class_id = document.querySelector('#character-class').value.trim();

  if (name && damage && health && background && race && class_id) {
      const response = await fetch('/api/character', {
          method: "POST",
          body: JSON.stringify({name, damage, health, background, race, class_id}),
          headers: {
              'Content-Type': 'application/json'
          },
      });
      console.log(response)
      if (response.ok) {
          document.location.replace('/profile')
          console.log(name)
      }
  }
};
console.log("damage")

document
  .querySelector('.new-character-form')
  .addEventListener('submit', newFormHandler);
</script>