<div style="display: flex; justify-content: center;">
    <img class="spellbook" src="./assets/spellbook.png" alt="old spell book with"/>
</div>
<div class="row m-4 justify-content-center">
        {{#each characters as |character|}}
    <div class="col-4 p-2 align-self-center">
            <a href="/character/{{character.id}}" class="">
            <div class="character card text-center" >
                <p class="card-title" style="margin: 0; padding: 8px;">{{character.name}}</p>
                <p class="card-text">{{character.background}}</p>
            </div>
            </a>
    </div>
        {{/each}}
</div>
