<div>
    {{#each characters as |character|}}
        <div class="character">
            <a href="/character/{{character.id}}">{{character.name}}</a>
            <p>{{character.background}}</p>
        </div>
    {{/each}}
</div>