<div class="spellbook row">
    <img class="" src="./assets/spellbook.png" alt="old spell book with"/>
</div>
<div class="all-character row">
    {{#each characters as |character|}}
        <div class="col">
            <a href="/character/{{character.id}}">
            <div class=" card" >
                <p class="card-title">{{character.name}}</p>
                <p class="card-text">{{character.background}}</p>
            </div>
            </a>
        </div>
    {{/each}}
</div>