<div class="login row">
  <div class="col">
    <h2>Log In</h2>
    <form class="login-form">
      <div class="form-group">
        <input class="form-input" type="text" id="email-login" placeholder="Email"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-login" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-danger" type="submit">Log In</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>