<div class="row" style="display:flex; justify-content: center; align-content: center;">
  <div class="col-md-6">
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login" style="padding: 10px; margin-right: 6px; color: var(--impred); margin-top: 20px;">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" style="color: var(--impred);">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" style="margin-top: 20px; padding: 3px; color: var(--gray); background-color: var(--carn); border: 1px solid var(--bred);" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
