<div class="row">
  <div class="col-auto">
    <h2>{{name}}</h2>
  </div>
</div>

<div class="row mt-4">
  {{#if characters.length}}
  <div class="col-md-6 character-list">
    <h3>Created Characters:</h3>

    {{#each characters as |character|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/character/{{character.id}}">{{character.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{character.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

</div>

<script src="./js/profile.js"></script>