<div class="row align=" center"" <div class="col-auto">
  <h2 class="pname text-center">{{name}}</h2>
</div>
</div>

<div class="row mt-4 mx-auto d-flex justify-content-center  ">
  {{#if characters.length}}
  <div class="col-md-6 character-list text-center">
    <h3 class="created">Created Characters:</h3>

    {{#each characters as |character|}}
    <div class="row mb-4">
      <div class="col-md-8 text-center">
        <h4><a class="createdc" href="/character/{{character.id}}">{{character.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-outline-danger padding" data-id="{{character.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

</div>

<script src="./js/profile.js"></script>