<div class="profile row">
  <h2>{{name}}</h2>
  <h3>Created Characters:</h3>
  <div class="char col">
    {{#if characters.length}}
      {{#each characters as |character|}}
      <div class="char-row row">
        <div class="char-col col">
          <h4><a href="/character/{{character.id}}">{{character.name}}</a></h4>
        </div>
        <div class="char-col col">
          <button class="btn btn-sm btn-outline-danger" data-id="{{character.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    {{/if}}

  </div>
</div>

<script src="./js/profile.js"></script>