/* Color Key
#0B090A - Rich Black
#161A1D - Eerie Black
#660708 - Blood Red
#A4161A - Ruby Red
#BA181B - Carnelian
#E5383B - Imperial Red
#B1A7A6 - Black Shadows
#D3D3D3 - Light Gray
#F5F3F4 - Cultured
#FFFFFF - White
*/

:root {
    --rblack: #0b090a;
    --eblack: #131a1d;
    --bred: #660708;
    --rred: #a4161a;
    --carn: #ba181b;
    --impred: #e5383b;
    --shadows: #b1a7a6;
    --gray: #d3d3d3;
    --culture: #f5f3f4;
    --white: #ffffff;
}

* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Main page styles */
body {
    background-color: var(--eblack);
}

.navbar {
    background-color: var(--rblack);
    text-shadow: 1px 1px var(--bred);
}

.nav-link {
    color:var(--impred);
}

.nav-link:hover {
    color:var(--culture);
}

.dropdown-menu a {
    background-color: var(--eblack);
    color:var(--impred);
    padding: 8px;
    border-bottom: 1px solid var(--culture);
}

.dropdown-menu a:hover {
    background-color: var(--eblack);
    color:var(--culture);
}

.all-character .card-title{
    background-color: var(--bred);
    color: var(--shadows);
}

.all-character .card-title:link{
    text-decoration: none;
}

.all-character .card-title:hover{
    background-color: var(--rred);
    color: var(--gray);
}

.all-character .card-text{
    background-color: var(--shadows);
    color: var(--eblack);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:link {
    text-decoration: none;
}

.spellbook {
    width: 55%;
    height: auto;
}

.signup {
    justify-content: center;
}
.signup-body {
    text-align: center;
    color: var(--impred);
}
.signup-body form div{
    padding: 10px;
}
.signup-body input {
    min-height: 3rem;
    width: 60%;
    max-width: 400px;
}

.character {
    justify-content: center;
}

.character .col {
    align-self: center;
    max-width: 500px;
    width: 50%;
    margin: 20px;
}

.character .card {
    background-color: #b1a7a6;
    padding: 10px;
}

.character-image {
    align-self: center;
}

.character-image img{
    max-width: 450px;
    max-height: 300px;
}

.character-info {
    color: var(--bred);
}

.character-info h2 {
    text-align: center;
    color: var(--bred);
}

.character-info li{
    text-align: center;
    background-color: #660708;
    color: var(--shadows);
}

.character-new-comment {
    color: #ffffff;
}

.character-new-comment label{
    align-items: center;
}

.character-comments {
    color: #ffffff;
    margin: 10px;
}

/* responsive behavior for login screen */
@media screen and (max-width: 767px) {
    .login-form {
        margin-left: 200px;
    }
}

@media screen and (max-width: 550px) {
    .login-form {
        margin-left: 140px;
    }
}

@media screen and (max-width: 475px) {
    .login-form {
        margin-left: 90px;
    }
}

@media screen and (max-width: 395px) {
    .login-form {
        margin-left: 45px;
    }
}

/* responsive behavior for create character screen */

@media screen and (max-width: 767px) {
    .new-character-form {
        margin-left: 200px;
    }
}

@media screen and (max-width: 676px) {
    .new-character-form {
        margin-left: 150px;
    }
}

@media screen and (max-width: 610px) {
    .new-character-form {
        margin-left: 75px;
    }
}

@media screen and (max-width: 530px) {
    .new-character-form {
        margin-left: 35px;
    }
}

@media screen and (max-width: 410px) {
    .new-character-form {
        margin-left: 5px;
    }
}

@media screen and (max-width: 377px) {
    .new-character-form {
        margin-left: 0px;
    }
}