/* Color Key
#0B090A - Rich Black
#161A1D - Eerie Black
#660708 - Blood Red
#A4161A - Ruby Red
#BA181B - Carnelian
#E5383B - Imperial Red
#B1A7A6 - Black Shadows
#D3D3D3 - Light Gray
#F5F3F4 - Cultured
#FFFFFF - White
*/

:root {
    --rblack: #0b090a;
    --eblack: #131a1d;
    --bred: #660708;
    --rred: #a4161a;
    --carn: #ba181b;
    --impred: #e5383b;
    --shadows: #b1a7a6;
    --gray: #d3d3d3;
    --culture: #f5f3f4;
    --white: #ffffff;
}

* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Main page styles */
body {
    background-color: var(--eblack);
}

main {
    margin: 15px;
}

nav {
    background-color: var(--eblack);
    padding-left: 10px;
}

nav a {
    text-decoration: none;
    color:var(--impred);
}

nav a:hover {
    color:var(--culture);
}

nav .home {
    font-size: 30px;
}

nav .dropdown {
    padding-left: 5px;
}

nav .dropdown-toggle {
    color: var(--impred);
    padding-top: 20px;
}

nav .dropdown-menu {
    padding: 0;
}

nav .dropdown-menu a {
    background-color: var(--eblack);
    color:var(--impred);
    border-bottom: 1px solid var(--culture);
}

nav .dropdown-menu a:hover {
    color:var(--culture);
    background-color: var(--eblack);
    opacity: 80%;
}

.spellbook {
    justify-content: center;
}
.spellbook img{
    align-self: center;
    width: 60%;
    height: 60%;
}

.all-character {
    justify-content: center;
    margin: 15px;
}

.all-character .col {
    justify-content: center;
    min-width: 30%;
    max-width: 50%;
    margin: 10px;
}

.all-character a {
    text-decoration: none;
}

.all-character .card {
    height: 80px;
    text-align: center;
    margin: 0;
    background-color: var(--shadows);
}

.all-character .card-title{
    background-color: var(--bred);
    color: var(--shadows);
}

.all-character .card-title:hover{
    background-color: var(--rred);
    color: var(--gray);
}

.all-character .card-text{
    color: var(--eblack);
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.character {
    justify-content: center;
}

.character .col {
    align-self: center;
    max-width: 500px;
    width: 50%;
    margin: 20px;
}

.character .card {
    background-color: #b1a7a6;
    padding: 10px;
}

.character-image {
    align-self: center;
}

.character-image img{
    max-width: 450px;
    max-height: 300px;
}

.character-info {
    color: var(--bred);
}

.character-info h2 {
    text-align: center;
    color: var(--bred);
}

.character-info li{
    align-self: center;
    text-align: center;
    background-color: #660708;
    color: var(--shadows);
    width: 85%;
}

.character-new-comment {
    color: #ffffff;
    padding: 25px;
}

.character-new-comment textarea {
    min-height: 100px;
    max-width: 350px;
    width: 100%;
}

.character-comments {
    color: #ffffff;
    padding: 30px;
}

.profile {
    color: var(--carn);
    text-align: center;
    justify-content: center;
}

.profile h2 {
    color: var(--impred);
    margin-bottom: 40px;
}

.profile .char {
    max-width: 650px;
    border: 2px solid #e5383b;
}

.profile .char-row {
    justify-content: center;
    margin: 20px;
}

.profile .char-col {
    max-width: 300px;
}
.profile .char-col a {
    text-decoration: underline;
    color: var(--impred);
}

.create {
    padding: 20px;
}

.create h2 {
    color: var(--impred);
}
.create h3 {
    color: var(--carn);
}
.create .form-group {
    margin: 10px;
    max-width: 300px;
}

.create .form-input{
    height: 40px;
    width: 100%;
    background-color: var(--culture);
}

#character-background {
    height: 90px;
}

.create .form-input::placeholder {
    color: black;
}

.signup {
    justify-content: center;
}
.signup-body {
    text-align: center;
    color: var(--impred);
}
.signup-body form div{
    padding: 10px;
}
.signup-body input {
    min-height: 3rem;
    width: 60%;
    max-width: 400px;
}
.signup input::placeholder {
    color: black;
}

.login {
    justify-content: center;
    color: var(--impred);
    text-align: center;
}

.login form{
    align-self: center;
    
}
.login input {
    min-height: 50px;
    max-width: 400px;
    width: 70%;
    margin: 10px;
}
.login input::placeholder {
    color: black;
}
.login button {
    margin-top: 15px;
}